@import './components/createNote';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	height: 100vh;
	.App {
		height: 100%;
		display: flex;
		.left-notes {
			display: flex;
			width: 50%;
			height: 100%;
			nav {
				.views-nav {
					button {
						padding: 0 0.5rem;
						font-size: 0.875rem;
						line-height: 1.25rem;
						display: flex;
						justify-content: space-between;
						&:hover {
							background-color: white;
						}
					}
					.search-by-category {
						display: flex;
						flex-direction: column;
						gap: 0.3rem;
						padding: 0 0.5rem;
						span,
						input {
							font-size: 1rem;
							line-height: 1.25rem;
						}
						.search-by-category_box {
							border-radius: 0.2rem;
							background: white;
							padding: 0.2rem;
							display: flex;
							flex-wrap: wrap;
							gap: 0.2rem;
							input {
								background-color: transparent;
								padding: 0.2rem;
								max-width: 100%;
								&:focus-visible {
									outline: none;
								}
							}
						}
					}
					.add-category {
						button {
							font-size: .875rem;
							padding: .675rem;
							&:hover{
								background-color: black;
							}
						}
					}
				}
			}
		}
		.rigth-notes {
			height: 100%;
			width: 100%;
		}
	}
}
.categories {
	display: flex;
	align-items: center;
	max-width: fit-content;
	border-radius: 0.5rem;
	overflow: hidden;
	padding: 0.18rem;
	.category {
		overflow-wrap: break-word;
		max-width: 100%;
	}
}

.input-category {
	padding: 0.18rem;
}
